body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.gameBoard {
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: repeat(3, 250px);
    grid-template-rows: repeat(3, 250px);
    gap: 0;
    border: 3px solid #000;
    font-size: 120px;
    background-color: #D2C1B6;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border: none;
    background-color:#f0f0f0;
}

#gameResult {
    display: none;
    position: absolute;
    top: 40%;
    left: 0;
    width: 100vw;
    height: 20vh;
    background-color: #456882;
    color: white;
    font-size: 5em;
    text-align: center;
    z-index: 1;
    justify-content: center;
    transition: .6s;

}

button:hover {
    background-color: #fff;
    color: #456882;
    transition: .4s;
}

button{
    margin-top: 20px;
    font-size: .2em;
    padding: 10px 20px;
    background-color: #fff;
    border: solid #000000 2px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 2;
}

div{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-right: 3px solid #000;
    border-bottom: 3px solid #000;
    box-sizing: border-box;
    border-top: 3px solid #000;
    margin: 5px;
    border-left: 3px solid #000;
}

.box{
    font-size: 180px;
    color: white;
    -webkit-text-stroke: 2px black;
    background-color: #f0f0f0;
}
#currentPlayer {
    font-size: 24px;
    font-weight: bold;
    border: none;
    background-color: transparent;

}


.box:hover{
    background-color: #81A6C6;
    margin: 20px;
    transition: .4s;
    border: 2px solid #000;
}



@media (max-width: 700px) {
    section {
        grid-template-columns: repeat(3, 100px);
        grid-template-rows: repeat(3, 100px);
    }
    

    body {
        width: 100px;
        height: 100px;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        margin: 0em;
        background-color: #f0f0f0;

    }

    h1 {
        font-size: 32px;
    }
}
