body {
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
}

h1{
    font-size: 3.3em;
    font-family: "Bowlby One SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px #000000, 0 0 5px #000000;
    border-bottom: #ddd 2px solid;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("./images/stars.jpg");
    background-size: cover;
    background-position: center;
    z-index: -1;
    opacity: 0.9;
}

.container {
    width: 100%;
    max-width: 1200px;
    text-align: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    backface-visibility: hidden;
    perspective: 1000px;
    
    
}

.card {
    flex: 0 1 calc(25% - 15px);
    min-width: 200px;
    max-width: 250px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    background-color: rgb(219, 219, 219);
    transform: rotateY(180deg);
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    background-color: rgba(138, 138, 138, 0.9);
    transform: rotateY(360deg);
    transition: .8s;
}

.card h2 {
    margin: 10px 0;
    font-size: 1.8em;
    font-family: "Barrio", system-ui;
    font-weight: 400;
    font-style: normal;
}

.card-img {
    width: 100%;
    border-radius: 4px;
    min-height: 25vh;
    min-width: 100%;
    background-size: cover;
    background-position: center;
}



/* Image classes*/
.card-img.earth { 
    background-image: url("./images/earth.jpeg"); }
.card-img.mars { 
    background-image: url("./images/mars.jpeg"); }
.card-img.uranus { 
    background-image: url("./images/uranus.jpeg"); }
.card-img.saturn { 
    background-image: url("./images/saturn.jpeg"); }
.card-img.moon { 
    background-image: url("./images/moon.jpeg"); }
.card-img.venus { 
    background-image: url("./images/Venus.jpeg"); }
.card-img.sun { 
    background-image: url("./images/sun.jpeg"); }
.card-img.jupiter { 
    background-image: url("./images/jupiter.jpeg"); }

.card-bottom {
    transform: rotateY(180deg);
}